// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content{
  text-align: left;
  width: 45%;
  position: absolute;
  left: 27%;
  h1{
    text-align:center;
    color: #0000CC;
  }
  form{
    text-align:center;
  }
}
body{
  background-color:#ffff99;
}
